@import 'assets/sass/utils/functions';

.Tasks {
  h3 {
    font-size: rem(30);
  }

  &-list {
    list-style: none;
    margin: rem(20) 0 rem(30);
    padding: 0;
    z-index: 2;

    &:last-of-type {
      margin-bottom: 0;
    }

    li:not(:last-child) {
      margin-bottom: rem(15);
    }
  }

  &-task {
    align-items: center;
    border-radius: rem(20);
    box-shadow: 0 rem(5) rem(20) 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: rem(15);

    input[type="checkbox"] {
      display: none;

      &:checked + div .Tasks-checkbox {
        background-color: #7C4FFF;
        border-color: #7C4FFF;

        svg {
          opacity: 1;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &-checkbox {
    border: rem(2) solid #DADADA;
    border-radius: 50%;
    display: block;
    margin: {
      left: rem(3);
      right: rem(10);
    }
    max-height: rem(20);
    max-width: rem(20);
    min-height: rem(20);
    min-width: rem(20);
    position: relative;

    svg {
      fill: #DADADA;
      left: 50%;
      height: 65%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(calc(-50% - #{rem(5)}), calc(-50% - #{rem(5)}));
      width: 65%;
    }
  }

  &-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    flex-grow: 1;
    line-height: 1.22;
    overflow: hidden;
  }

  &-completed {
    padding-bottom: rem(5);
    position: relative;

    &::before {
      background-color: #D1D1D1;
      bottom: 0;
      content: '';
      height: rem(1);
      left: 0;
      position: absolute;
      width: 100%;
    }

    p {
      color: #A1A1A1;
      text-transform: uppercase;
      font: {
        size: rem(14);
        weight: 300;
      }
    }
  }
}

$task-transition: 250ms;
$task-delay: 100ms;
$checkbox-transition: 200ms;

.task-transition {
  &-enter {
    opacity: 0;
    transform: translateY(-10%);

    &-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity $task-transition, transform $task-transition / 2;
      transition-delay: $task-delay;
    }

    &-done {
      opacity: 1;
    }
  }

  &-exit {
    opacity: 1;
    transform: translateY(0);

    &-active {
      opacity: 0;
      transform: translateY(10%);
      transition: opacity $task-transition, transform $task-transition / 2;
      transition-delay: $task-delay;

      input[type="checkbox"]:not(:checked) + div .Tasks-checkbox {
        background-color: #7C4FFF;
        border-color: #7C4FFF;
        transition: all $checkbox-transition;

        svg {
          opacity: 1;
          transform: translate(-50%, -50%);
          transition: all $checkbox-transition;
        }
      }

      input[type="checkbox"]:checked + div .Tasks-checkbox {
        background-color: transparent;
        border-color: #DADADA;
        transition: all $checkbox-transition;

        svg {
          opacity: 0;
          transform: translate(calc(-50% - #{rem(5)}), calc(-50% - #{rem(5)}));
          transition: all $checkbox-transition;
        }
      }
    }

    &-done {
      opacity: 0;
    }
  }
}
