@import 'assets/sass/utils/functions';

.Form {
  align-items: flex-start;
  background-color: #FFFFFF;
  bottom: 0;
  box-shadow: 0 rem(-1) rem(10) 0 rgba(0, 0, 0, 0.15);
  display: flex;
  left: 0;
  padding: rem(2) rem(2) rem(6);
  position: fixed;
  width: 100%;

  textarea {
    border: 0;
    flex-grow: 1;
    font: {
      size: rem(18);
      weight: 400;
    }
    overflow: hidden;
    padding: rem(15) rem(20);
    resize: none;

    &:focus {
      outline: none;
    }
  }

  button {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: rem(45);
    outline: none;
    position: relative;
    transition: background-color 0.2s;
    width: rem(45);

    &:active {
      background-color: #f7f7f7;
      transform: scale(1.05);
      transform-origin: 0 50%;
    }

    svg {
      fill:#7C4FFF;
      height: rem(25);
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: rem(25);
    }
  }
}
